{% extends 'main.html' %}

{% block content %}

<div class="row mt-3">
    <div class="col col-md-7 ml-2">
        <div class="card card-body">

            <table class="table">
                <tr>
                    
                    <th>Roll</th>
                    <th>Student Name</th>
                    <th>Department</th>
                    <th>Address</th>
                   
                   

                </tr>

                <tr>

                   <td>{{student1.roll}}</td>
                    <td>{{student1.name}}</td>
                    <td>{{student1.department}}</td>
                    <td>{{student1.address}}</td>
                </tr>
            </table>
            <hr>

            <p>Do you really want to delete the student?</p>
            <div class="row">
                <a class="btn btn-danger ml-3" href="{% url 'delete_ok' student1.id%}">Yes</a> 
                <a class="btn btn-info ml-3" href="{% url 'home' %}">No</a>
 
            </div>
           
        </div>
    </div>
</div>






{% endblock %}